/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #034895;
  --second-color: #ff9800;
  --main-transition: 0.3s;
  --main-padding-top: 50px;
  --main-padding-bottom: 50px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}
/* Start scrol */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--second-color);
}
/* End scrol */

a {
  text-decoration: none !important;
}
ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

/* End Global Rules */

/* Start Header 1 */
.header-area .navbar {
  padding: 0 20px !important;
  width: 100% !important;
  background-color: #ffffff;
  box-shadow: 0px 9px 20px 0px #0000000f;
}

.navbar-brand1 img {
  display: none;
  height: 70px;
  width: 200px;
}
.navbar-brand img {
  height: 70px;
  width: 200px;
}
.navbar-nav {
  flex: 1;
}

.nav-item .nav-link {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #000000 !important;
}
.nav-item .nav-link:hover {
  color: var(--second-color) !important;
}

.nav-item .dropdown-menu {
  background: #ffffff !important;
  border-radius: 0 20px 20px 20px !important;
  box-shadow: 0px 10px 56px 0px #0000000d;
}

.dropdown_menu_links {
  padding: 20px 0;
}
.dropdown_menu_links a {
  font-weight: bold;
  color: #000000 !important;
}
.dropdown_menu_links a:hover {
  color: var(--second-color) !important;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100% !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: auto;
  margin-left: auto;
}

.navbar-toggler {
  padding: 0 !important;
  font-size: 0rem;
  line-height: 0;
  border: none !important;
  outline: none !important;
  color: white;
}
.navbar-toggler i {
  font-size: 33px;
  color: var(--main-color) !important;
}

/* media */
@media (max-width: 991px) {
  .navbar-brand1 img {
    display: block;
  }
  .navbar-brand {
    display: none;
  }
  .logo {
    width: 100px;
  }

  .collapse {
    padding: 10px 15px;
  }

  .navbar-nav {
    color: white;
    margin: 10px;
  }

  .nav-item {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    transition: 0.5s;
  }
  .nav-item:hover {
    padding: 7px;
    border-radius: 5px;
    background: var(--main-color);
  }
}

@media (max-width: 400px) {
  .dropdown_menu_links {
    padding: 20px 0;
    color: #6d7d93 !important;
  }
  .dropdown_menu_links a {
    font-weight: bold;
    color: #6d7d93 !important;
  }
}
/* End Header 1 */
/* Start slide 2 */
.img_slider {
  width: 100% !important;
  height: calc(100vh - 80px) !important;
}
.carousel-control-prev,
.carousel-control-next {
  padding-top: 100px;
  color: var(--main-color) !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 50%;
  background-color: var(--main-color) !important;
}

/* End slide 2 */

/* Start About Us 3 */
.about-us {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  display: flex;
}
@media (max-width: 767px) {
  .about-us {
    display: block;
    text-align: center;
  }
}
.about-us .info-box {
  flex: 1;
  padding: 30px;
}
@media (max-width: 767px) {
  .about-us .info-box {
    padding: 0;
  }
}
.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 10px;
}
.about-us .info-box p {
  line-height: 1.8;
  color: #767676;
  margin: 0;
}
.about-us .image-box {
  flex: 1;
  text-align: center;
}
.about-us .image-box img {
  width: 350px;
}
/* End About Us 3 */
/* Start Features 4 */
.features {
  padding-top: 80px;
  padding-bottom: 80px;
}
.features h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}
.features .Allfeatures_box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.features .feat-box {
  width: 360px;
  text-align: center;
  padding: 10px 0;
  margin: 10px;
  box-shadow: inset 0 0 5px var(--main-color);
  transform: translate(0.03s);
}
.features .feat-box:hover {
  scale: 1.04;
  transition: 0.5s;
}
@media (max-width: 991px) {
  .features .feat-box {
    width: calc(92% / 3);
  }
}
@media (max-width: 575px) {
  .features .feat-box {
    width: 98%;
  }
}
.features .feat-box img {
  width: 96px;
}
.features .feat-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
}
.features .feat-box h4:before {
  content: "";
  width: 40px;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: -22px;
}
.features .feat-box p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.7;
  color: #706f6f;
}
/* End Features 4 */
/* Start Testimonials 5 */
.testimonials {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
.testimonials:before {
  content: "";
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  height: 100%;
}
.testimonials:after {
  content: "";
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--second-color);
  height: 100%;
}
.testimonials h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--second-color);
  margin: 0 0 30px;
  text-align: left;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .testimonials h2 {
    text-align: center;
    color: #ffffff;
  }
}
.testimonials .ts-box {
  position: relative;
  z-index: 2;
  width: calc(98% / 3);
  float: left;
  background-color: #fff;
  padding: 20px;
}
@media (max-width: 767px) {
  .testimonials .ts-box {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}
.testimonials .ts-box:not(:last-of-type) {
  margin-right: 1%;
}
.testimonials .ts-box > p {
  margin: 0 0 20px;
  line-height: 1.5;
  font-size: 15px;
  color: #707070;
  font-style: italic;
}
.testimonials .ts-box .person-info {
  overflow: hidden;
}
@media (max-width: 991px) {
  .testimonials .ts-box .person-info {
    text-align: center;
    overflow: visible;
  }
}
.testimonials .ts-box .person-info img {
  float: left;
  border-radius: 50%;
  margin-right: 20px;
}
@media (max-width: 991px) {
  .testimonials .ts-box .person-info img {
    float: none;
    margin-right: 0;
  }
}
.testimonials .ts-box .person-info h4 {
  margin: 14px 0 10px;
}
.testimonials .ts-box .person-info p {
  color: #707070;
  margin: 0;
}
/* End Testimonials 5 */
/* Start Contact Us 6 */
.contact {
  min-height: 600px;
  background-image: url("../imgs/contact.png");
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.contact .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  /* background-color: rgb(255 255 255 / 60%); */
}
.contact .container {
  position: relative;
  z-index: 2;
}
.contact h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}
.contact form {
  overflow: hidden;
  max-width: 800px;
  margin: auto;
}
.contact form .left {
  float: left;
  width: 49%;
}
.contact form .right {
  float: right;
  width: 49%;
}
@media (max-width: 767px) {
  .contact form .left,
  .contact form .right {
    float: none;
    width: 100%;
  }
}
.contact form input:not([type="submit"]),
.contact form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background-color: rgba(218, 218, 218, 0.19);
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
  outline: 1px solid var(--main-color);
}
.contact form input {
  height: 40px;
}
.contact form textarea {
  height: 150px;
}
.contact form input[type="submit"] {
  padding: 10px;
  width: 100%;
  border-color: transparent;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.3s;
}
.contact form textarea:focus:-ms-input-placeholder,
.contact form input:not([type="submit"]):focus:-ms-input-placeholder {
  opacity: 0;
  transition: 0.3s;
}
.contact form textarea:focus::placeholder,
.contact form input:not([type="submit"]):focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}
/* End Contact Us 6 */

/* Start Footer  */
.footer {
  padding: 0;
  background-color: var(--main-color);
}

.footer .box h3 {
  color: var(--second-color);
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 20px;
  text-align: start;
  justify-content: start;
}

.footer .box .line .info a {
  color: white !important;
  text-align: start;
  justify-content: start;
  transition: var(--main-transition);
}

.footer .box .line .info a:hover,
.footer .box .line .info a:hover i,
.footer .box .line .info p:hover {
  color: var(--second-color) !important;
  transform: translate(0.03s);
}

.footer .box .social {
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  justify-content: start;
}

.footer .box .social li {
  margin-right: 10px;
}

.footer .box .social li a {
  color: var(--main-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 50%;
  border: solid 2px var(--second-color);
  background: var(--second-color);
  transition: var(--main-transition);
}
.footer .box .social li a:hover {
  color: var(--second-color);
  background: var(--main-color);
}

.footer .box .line {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 20px;
  transition: var(--main-transition);
}

.footer .box .line:hover {
  cursor: pointer;
  color: var(--main-color);
}

.footer .box .line i {
  font-size: 18px;
  color: white;
  margin-right: 10px;
}

.footer .box .line .info {
  justify-content: center;
}
.footer .box .line .info span {
  display: block;
}
.footer .logo {
  padding-top: 20%;
  padding-left: 20%;
  height: 20%;
  width: 90%;
}

.footer .copyright {
  margin: 0;
  padding: 25px 0;
  text-align: center;
  color: white;
  border-top: 1px solid #444;
}

@media (max-width: 767px) {
  .footer {
    text-align: start;
  }

  .footer .box .line {
    text-align: start;
    justify-content: start;
  }
  .footer .logo {
    text-align: start;
    justify-content: start;
    padding-top: 0;
    padding-left: 0;
    height: 80%;
    width: 80%;
  }

  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .footer .box .social {
    text-align: start;
    justify-content: start;
  }
}
/* End Footer */
